{
  "openapi": "3.0.0",
  "info": {
    "title": "DevEx Despatch API",
    "version": "v1",
    "description": "API for handling Category 2 - Despatch related documents. A valid API key is required to access the endpoints, please contact a team member using https://unswcse.atlassian.net/wiki/spaces/DevEx/pages/1431896088/Team+Roles."
  },
  "servers": [
    {
      "url": "https://devex.cloud.tcore.network",
      "description": "DevEx Despatch API Server"
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "summary": "Returns health information",
        "description": "An endpoint that returns the health status of the API",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "uptime": {
                      "type": "integer",
                      "example": 3600
                    },
                    "version": {
                      "type": "string",
                      "example": "v1"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1734567890
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred while processing the request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}